* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  img,
  .hidden {
    display: none;
  }
  
  img[src] {
    display: block;
  }
  
  #main-container {
    height: 100%;
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87b7ff;
  }
  
  #weather-container {
    height: 60%;
    width: 90%;
  }
  
  #side-container {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  
  #search-button {
    padding: 10px;
    background-color: #0075ff;
    color: #ffffff;
    border-radius: 5px;
    border-width: 1px;
  }
  
  .search-result:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .weather-result {
    display: flex
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
  }
  flex-item {
    flex-grow: 1;
    width: 177px;
    height: 220px;
    background-color: #FFFFFF;
    border: 1px solid #0075FF;
    margin: 5px;
    font-family: 'Roboto';
  }

  #todays-weather {
    height: 50%;
    width: 100%
  }

  #five-day-weather {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    justify-content: center;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25apx;
  }

  h3 {
    font-size: 12px;
    text-align: center;
  }

  h4 {
    font-size: 8px;
    text-align: center;
  }